<h1>修改任務</h1>
  <%= simple_form_for(@event) do |f| %>
    <%= f.input :topic, label: "名稱" %>
    <%= f.input :content, label: "內容" %>
    <%= f.input :priority, label: "優先程度" %>
    <%= f.input :status, label: "狀態" %>
    <%= f.input :start_from, label: "開始時間" %>
    <%= f.input :end_at, label: "結束時間" %>
    <%= f.submit '修改', class:'btn btn-primary'%>
  <% end %>