<h1><%= @event.topic%></h1>

<table class='table'>
  <tr>
    <th>任務內容</th>
    <td><%= @event.content%></td>
  </tr>
  <tr>
    <th>優先程度</th>
    <td><%= @event.priority%></td>
  </tr>
  <tr>
    <th>狀態</th>
    <td><%= @event.status%></td>
  </tr>
  <tr>
    <th>開始時間</th>
    <td><%= @event.start_from%></td>
  </tr>
  <tr>
    <th>結束時間</th>
    <td><%= @event.end_at%></td>
  </tr>
</table>

<%= link_to '返回任務列表', events_path, class:'btn btn-primary' %> 